* {
    padding: 0;
    margin: 0;
}

body {
  background-color: #242424 !important;
}

.Header > h2 {
    font-size: 1.75rem;
}

p {
    color: white;
}

.DialogText {
    color: black;
}

.Progress_div {
    display: flex;
    gap: 3rem;
}

.Progress_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 5px
}

.Marco_Section {
    display: flex;
    gap: 1rem;
}

.LogFood_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 40%;
    padding: 1.5rem 0;
}

.LogFood {
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 5%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px
}

.LogFood > button {
    flex-basis: 90%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.Period_meal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.Meal_list {
    color: white;
}

dialog {
    padding: 1rem;
}

.Excerise_wrapper {
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding: 1rem;   
}

.Excerise {
    flex-basis: 50%;
}

.Caloriesring {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px;
    border-radius: 5%;
}

.Cal_section {
    display: flex;
}