body {
  background-color: #242424 !important;
}

p {
    color: white;
}

.Progress_div {
    display: flex;
    gap: 3rem;
}

.Progress_wrapper {
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px
}

.Log_Food_Excersice {
    height: 40%;
    display: flex;
}